.header {
  color: rgba(248, 248, 248, 0.856);
  background-color: rgb(61, 61, 61);
}
.header h1 {
  font-size: 1.75rem;
}
.header .logo {
  cursor: pointer;
}
.fas {
  font-size: 1.25rem;
}
.card {
  height: 420px;
}
.card img {
  object-fit: contain;
  height: 200px;
}
.card h2, .card h3 {
  font-size: 1.25rem;
}
.card p {
  font-size: 0.95rem;
}
.back {
  font-size: 1.15rem;
  margin: 1rem 1rem 1rem 0;
}
.disclaimer, .disclaimer .disclaimer-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.disclaimer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.7);
}
.disclaimer .disclaimer-message {
  position: relative;
  border-radius: 50px;
  height: 50%;
  width: 50%;
  text-align: center;
  background-color: #1e1e1e;
  color: #cffae0;
}
.disclaimer-message button.exit-modal {
  width: 50%;
  font-size: 2rem;
  margin-top: 10px;
}
.disclaimer-message .contents {
  max-width: 80%;
  font-size: 1.5rem;
  user-select: none;
}
.disclaimer-message .check-text {
  color: #cffae0;
}
.details {
  border: rgb(0, 0, 0, 0.1) solid 1px;
  border-radius: 5px;
}
.details .back:hover,
.summary .back:hover,
.card:hover {
  cursor: pointer;
}
.details img {
  object-fit: contain;
  height: 280px;
}
.details h2 {
  font-size: 1.5rem;
}
.details h3 {
  font-size: 1.25rem;
}
.summary {
  margin-bottom: 55px;
}
.summary img {
  object-fit: contain;
}
.checkout {
  position: fixed;
  height: 55px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
}
.checkout .btn {
  min-width: 140px;
  max-height: 40px;
}
.checkout-form input, .checkout-form textarea {
  border: #c9c9c9 solid 2px;
}
.checkout-form input {
  text-align: center;
}
.checkout-form .form-group {
  position: relative;
}
.form-group .input-feedback {
  position: absolute;
  bottom: -20px;
}
.checkout-form small, .disclaimer-message small {
  color: red;
  margin-left: 3px;
  font-size: 0.85rem;
  width: max-content;
}
.checkout-form .fa-times, .disclaimer-message .fa-times {
  color: red;
}
.checkout-form .fa-check,
.disclaimer-message .fa-check,
.disclaimer-message small.go {
  color: rgb(18, 221, 18);
}
button.btn.disabled {
  cursor: unset;
}
div.checkout-button-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
h2.checkout-price {
  text-align: right;
  line-height: 1.35rem;
  font-size: 1.35rem;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none!important;
}

@media only screen and (max-width: 1300px) {
  .disclaimer-message .contents {
    font-size: 1.25rem;
  }
  .disclaimer-message button.exit-modal {
    width: 35%;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .disclaimer-message .contents {
    font-size: 1.15rem;
  }
  .disclaimer-message button.exit-modal {
    width: 30%;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 767.95px) {
  .disclaimer .disclaimer-message {
    height: 60%;
    width: 85%;
  }
  .disclaimer-message .contents {
    font-size: 1rem;
  }
  .disclaimer-message .check-text {
    font-size: 0.85rem;
  }
  .disclaimer-message button.exit-modal {
    width: 30%;
    font-size: 1.25rem;
  }
}

@media only screen and (max-height: 420px) {
  .disclaimer .disclaimer-message {
    height: 80%;
  }
  .disclaimer-message .contents {
    font-size: 0.95rem;
  }
  .disclaimer-message .check-text {
    font-size: 0.85rem;
  }
  .disclaimer-message button.exit-modal {
    width: 28%;
    font-size: 1.10rem;
  }
}

@media only screen and (max-width: 575px) {
  .item-info {
    padding: 0.5rem;
    text-align: center;
  }
  .details {
    margin: 1rem 0!important;
  }
  .checkout h2 {
    font-size: 1.35rem;
  }
  .form-group .input-feedback.cvv {
    width: max-content;
  }
  label {
    width: max-content;
  }
}

@media only screen and (max-width: 493px) {
  .logo .fas, .logo h1 {
    font-size: 1.10rem;
  }
}

@media only screen and (max-width: 420px) {
  .logo h1 {
    margin-left: 0!important;
  }
  .products {
    margin: 0 1rem!important;
  }
  label[for="phoneNumber"] {
    position: relative;
    left: -15px;
  }
}

@media only screen and (max-width: 375px) {
  .checkout h2, h2.checkout-price {
    font-size: 1.25rem;
  }
  label[for="phoneNumber"] {
    position: relative;
    left: -20px;
  }
}

@media only screen and (orientation: landscape) {
  .checkout {
    height: 50px;
  }
  .checkout h2 {
    font-size: 1.35rem;
  }
}
